

<p>to-be-determined works!</p>

<div class="container-fluid">


    <div>Scrape
        <a class="btn btn-primary" id="btn" (click)="showImage()" role="button">Show</a>
    </div>
    
    <img id="my-img" src="http://localhost:4200/assets/img_future.png" alt="Future"
    class="starter">
    
    <h3 id="h31" class="h3">Hello!</h3>
    
    <a  class="btn btn-primary" href="#" role="button">Home</a>
    <button id="slideRight">Slide Right</button>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>