<p>user-detail works!</p>
<div th:if="${not #lists.isEmpty(users)}" ng-repeat="(key,value) in myObj">
    <a  class="btn btn-primary" href="#" role="button">Home</a>
    <div class ="container mt-0"></div>
    <a  class="btn btn-primary" href="/users" role="button">User List</a>

    <h2>User {{user.id}}</h2>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>name</th>
            <th>age</th>
            <th>hobbies</th>
        </tr>
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.age}}</td>
          <td>{{user.hobbies}}</td>
          
        </tr>
    </table>
</div>
